* {
	margin: 0;
	padding: 0;
	font-family: Lato;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top : 30px;
}

.head g {
    font-size : 4em;
}

.head p {
    margin-top : 0px;
}

.registration {
	display: flex;
	justify-content: space-around;
    margin-left: 10%;
}

.registration div {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.registrations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90   %;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.registrations div {
    display: flex;
    background-color: #f2f2f2;
    margin-right: 10%;
    padding: 20px;
}

.a {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
}

.a:hover {
    background-color: #45a049;
}

.b {
    display: flex;
}

.c {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    text-decoration: none;
}

.d {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    width: 10%;
    text-decoration: none;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
