* {
	margin: 0;
	padding: 0;
	font-family: Lato;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.head {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.head div {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top : 30px;
}

.head g {
	font-size : 4em;
}

.head p {
	margin-top : 0px;
}

.menu {
	width: 60px;
}

.bahasa {
	justify-content: flex-end;
	width: 60px;
}

.pop {
	position: absolute;
	left: 0%;
	height: 100%;
	width: 200px;
	z-index: -1;
}

.rectangle {
	position: absolute;
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	height: 100%;
	width: 10%;
	background-color: grey;
	justify-content: flex-start;
	align-items: center;
}


.rectangle a {
	margin-top: 20px;
	color: white;
	font-style: bold;
}

.foto {
	width : 500px;
}

.tulisan {
	display: flex;
	justify-content: space-around;
}

.tulisan1 {
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
	margin-right: 10%;
}

.heak {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-style: italic;
	align-items: center;
	justify-content: center;
	margin-right: 10%;
	margin-left: 10%;
}

.heak b {
	margin-top : 30px;
}

.desc1 {	
	display: flex;
	flex-direction: column;
	margin-top : 10%;
	margin-right: 5px;
	font-size: 20px;
}

.desc {	
	display: flex;
	flex-direction: column;
	margin-top : 5%;
	margin-left: 15%;
	margin-right: 15%;
}

.desc div {
	display: flex;
	width: 100%;
	margin-left: 15%;
}

.desc p {
	margin-top: 8px;
	font-size: 2em;
	font-style: italic;
}

.desc img {
	height: 50px;
	margin-top : 5px;
	margin-right: 20px;
}

.footer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	bottom : 0;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1%;
}

.monster {
	position: absolute;
	margin-left: 12%;
	bottom: 0px;
	width: 18%;
	z-index: -1;
}

.naga {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 15%;
	z-index: -1;
}

.naga1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 210px;
	z-index: -1;
}
.monster1 {
	position: absolute;
	left: 10%;
	bottom: 0px;
	height: 210px;
	z-index: -1;
}

.regis-header {
	display: flex;
	justify-content: space-around;
	margin-left: 10%
}

.regis-header h1 {
	z-index: -1;
}

.regis-header div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 800px) {
	.tulisan {
		margin-top: 300px;
	}

	.desc1 {
		margin-top: 50%;
	}
}

@media only screen and (max-width: 1200px) {
	.foto {
		width: 300px;
		align-items: center;
	}

	.heak {
		margin-right: 10%;
		margin-left: 10%;
	}
	.tulisan {
		margin-top: 5%;
		flex-direction: column;
		align-items: center;
	}

	.tulisan1 {
		margin-top: 5%;
		flex-direction: column-reverse;
		align-items: center;
	}


	.desc1 {
		margin-top: 2%;
		margin-right: 15%;
		margin-left: 15%;

		align-items: center;
		text-align: center;
	}

	.naga {
		width: 20%
	}

	.monster {
		right: 0;
		transform: scaleX(-1);
	}
}
