{% load static %}
<link rel="stylesheet" href="{% static 'form.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

{% if events %}
<p class="c"> ACTIVITY </p>
{% for event in events %}
	<div class = "registrations">
		<div>
		    <label for="name">Event name: </label>
		    {{event.name}}
		</div>
		<div>
		    <label for="day">Day: </label>
		    {{event.day}}
		</div>
		<div>
		    <label for="date">Date: </label>
		    {{event.date}}
		</div>
		<div>
		    <label for="time">Time: </label>
		    {{event.time}}
		</div>
		<div>
		    <label for="location">Location: </label>
		    {{event.location}}
		</div>
		<div>
		    <label for="Category">Category: </label>
		    {{event.category}}
		</div>
	</div>
	<div><br><br><br> </div>
{% endfor %}
<a href="/Fadhil/agenda/reset" class ="d"> Reset</a>
{% else %}
	<p class="c"> NO AGENDA </p>
{%endif%}

<a href="/Fadhil/jadwal" class ="d"> INPUT NEW ACTIVITY </a>
