<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="{% static 'tes.css' %}">

	<body>
		<div class="head">
			<img class="menu" src="{% static 'Menu.png' %}">
			<div class = "apakek">
				<g>KIDD</g>
				<p>C O R P O R A T I O N</p>
			</div>
			<img class = "bahasa" src="{% static 'ENGLISH.png' %}">
		</div>
		<div class = "rectangle">
			<a href="/Fadhil">H O M E</a>
			<a href="/Fadhil/contact">C O N T A C T</a>
			<a href="/Fadhil/regis">S I G N   U P</a>
		</div>
		{% block body %}
		{% endblock %}

		<h2  class="footer">@KIDD CORPORATION</h2>
	</body>
</html>