{% extends "header.html" %}

<!DOCTYPE html>
<html>
{% load static %}
	{% block body %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="{% static 'form.css' %}">
	<body>
		<div class = "registration">
			<div>
				<form action="/Fadhil/jadwal/" method="post">
				{% csrf_token %}
				<label for="nothing"></label>

			    <label for="day">Day</label>
			    {{form.day}}
			    
			    <label for="date">Date</label>
			    {{form.date}}

			    <label for="time">Time</label>
			    {{form.time}}

			    <label for="name">Event name</label>
			    {{form.name}}

			    <label for="location">Location</label>
			    {{form.location}}

			    <label for="Category">Category</label>
			    {{form.category}}

			    <input type="submit" value="Submit">
	  			</form>	
				
				<div class="b">
		  			<a href="/Fadhil/agenda" class ="a"> Agenda</a>
				</div>
			</div>
		</div>

	</body>
	{% endblock body %}

</html>