{% extends "header.html" %}

{% load static %}
{% block body%}
<div class = "regis-header">
	<div>
		<form action="/action_page.php">
			<label for="nothing"></label>

		    <label for="fname">First Name</label>
		    <input type="text" id="fname" name="firstname" placeholder="Your name..">

		    <label for="date">Confirm your password</label>
		    <input type="date" id="date" name="date" placeholder="Enter your birth date">
		   
		    <label for="email">Email</label>
		    <input type="email" id="email" name="email" placeholder="Your email..">

		    <label for="username">Username</label>
		    <input type="text" id="username" name="username" placeholder="Your username..">
		  	
		  	<label for="pwd">Password</label>
		    <input type="password" id="pwd" name="password" placeholder="Enter your password">

		    <label for="pwd">Confirm your password</label>
		    <input type="password" id="pwd2" name="password" placeholder="Confirm your password">

		    <input type="submit" value="Submit">
	  	</form>
	</div>	
	<div></div>		
</div>
<img class = "monster1" src="{% static 'ntah.png' %}">
<img class = "naga1" src="{% static 'naga.jpg' %}">
{% endblock body %}
