{% extends "header.html" %}

<!DOCTYPE html>
<html>
	{% load static %}
	{% block body %}
	<div class = "tulisan">
		<div></div>
		<div></div>
		<div class = "heak">
			<img class = "foto" src = "{% static 'poto.png' %}">
			<b>"I choose a lazy person to do a hard job. Because a lazy<br>
			person will find an easy way to do it."<br>
			- Steve Jobs</b>	
		</div>	
		
		<div class = "desc1">
			<h1>RAHMAT FADHILAH</h1>
			<p>Owner of Kidd Corp.<br>
			August 10, 1998<br><br></p>
			<p>Hello! I'm Fadhil. Welcome to Kidd Corporation Official Website.
			<br>Where you can start your own bussiness faster than you can imagine!
			<br>Start your bussiness now!
			</p>
		</div>
		<div></div>
	</div>
	<img class = "naga" src="{% static 'naga.jpg' %}">
	{% endblock body %}
</html>