{% extends "header.html" %}

<!DOCTYPE html>
<html>
	{% load static %}
	{% block body %}
	<div class = "tulisan1">
		<div></div>
		<div></div>
		<div></div>
		<div class = "desc">
			<div>
				<img src="{% static 'instagram.png' %}">
				<p>@fadhilkidd_</p>
			</div>
			<div>
				<img src="{% static 'twitter.png' %}">
				<p>@fadhil_kidd</p>
			</div>
			<div>
				<img src="{% static 'facebook.png' %}">
				<p>Rahmat Fadhilah</p>
			</div>
			<div>
				<img src="{% static 'google-plus.png' %}">
				<p>dolifadillah@gmail.com</p>
			</div>
			<div>
				<img src="{% static '005-whatsapp.png' %}">
				<p>0822 9793 7993</p>
			</div>
		</div>
		<div></div>
		<div></div>
		<div class = "heak">
			<img class = "foto" src = "{% static 'poto.png' %}">
			<b>"I choose a lazy person to do a hard job. Because a lazy<br>
			person will find an easy way to do it."<br>
			- Steve Jobs</b>	
		</div>	

		<div></div>
		<div></div>
		<div></div>
		<div></div>		
	</div>
	<img class = "monster" src="{% static 'ntah.png' %}">
	{% endblock body %}
</html>